<div class="row">
    <div class="col s3">
        <app-heros-details [superHero]="superHeroes[0]"></app-heros-details>
    </div>
    <div class="col s3">
        <app-heros-details [superHero]="superHeroes[1]"></app-heros-details>
    </div>
    <div class="col s3">
        <app-heros-details [superHero]="superHeroes[2]"></app-heros-details>
    </div>
    <div class="col s3">
        <app-heros-details [superHero]="superHeroes[3]"></app-heros-details>
    </div>
    <div class="col s3">
        <app-heros-details [superHero]="superHeroes[4]"></app-heros-details>
    </div>
</div>
