<div class="row">
    <div class="col s3">
        <app-heros-details></app-heros-details>
    </div>
    <div class="col s3">
        <app-heros-details></app-heros-details>
    </div>
    <div class="col s3">
        <app-heros-details></app-heros-details>
    </div>
    <div class="col s3">
        <app-heros-details></app-heros-details>
    </div>
    <div class="col s3">
        <app-heros-details></app-heros-details>
    </div>
    <div class="col s3">
        <app-heros-details></app-heros-details>
    </div>
    <div class="col s3">
        <app-heros-details></app-heros-details>
    </div>
    <div class="col s3">
        <app-heros-details></app-heros-details>
    </div>
    <div class="col s3">
        <app-heros-details></app-heros-details>
    </div>
    <div class="col s3">
        <app-heros-details></app-heros-details>
    </div>
    <div class="col s3">
        <app-heros-details></app-heros-details>
    </div>
    <div class="col s3">
        <app-heros-details></app-heros-details>
    </div>
    <div class="col s3">
        <app-heros-details></app-heros-details>
    </div>
</div>
